.scroll-to-top {
  position: fixed;
  bottom: 25px;
  right: 5px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scrollTop {
  opacity: 1;
  transition: all .2s ease-in-out;
}

button {
  width: 15vh;
  height: 5vh;
  font-size: 17px;
  background-color: #00B5CC;
  border: 2px solid #B2DF28;
}
