<div *ngIf="characters$ | async as characters">
  <div class="search container">
    <img src="assets/imgs/logo-home.svg" alt="">
      <form [formGroup]="searchForm">
         <input class="form-control" type="search" formControlName="search" placeholder="Pesquisar" aria-label="Pesquisar">
      </form>
  </div>
  <app-character-list
    [characters]="characters"
    [isFavoritesPage]="false"
    [enableInfiniteScroll]="true"
    (loadMore)="onScrollDown($event)"
    (toggleFavorite)="toggleFavorite($event.id, $event.isFavorite)">
  </app-character-list>
</div>
